body {
	background-color: lightgrey;
}



li {

	background-color: grey;
	padding: 7px;
	margin-left: 5px;
	text-align: center;
	max-width: 50%;
	list-style: none;
	font-size: 3rem;

}
a {
	text-decoration: none;
}

a:hover {
	color:blue;
}

#bColor:hover {

	background-color: yellow;
}

#grow:hover {
	padding: 7px 12px;
}